*~
*.bak
tmp
bisection.ps
bisection.dot
bisection.html
bisection.png
bisection.mini.png
repos
*.mro
*.mro.new
*.mro.old
*.mro.in
*.mro.in.new
*.mro.lock
report-lock
publish-lock
bisecting-sticky-branch
[tu].*
[tu]
data-plan.pl
data-plan.pl.new
data-plan-debug-*.txt
data-tree-lock
tree-bisect
standalone.db
logs
id_rsa_osstest
id_rsa_osstest.pub
overlay-local
images
diskusage-[A-Z]*.html
diskusage-[A-Z]*.png
diskusage-[A-Z]*.pdf
